{% extends 'base.html.twig' %}

{% block body %}

    <div class="panel">
        <h1 style="margin-bottom: 10px; margin-top: 10px;">{{ title }}</h1>
        <center>{{ result }}</center>
    </div>

{% endblock %}